<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were errors saving this project:</h4>
      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, rows: 5, class: 'form-control' %>
  </div>

  <div class="d-grid">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>